<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Cube World (Un)official Forums!</title>
    </head>
</html>
<body>
    <div class="header">
        <img src="Drawing.png" class="drawing">
        <div class="header-login">
            <h1 class="header-login-login"><a href="loginpage.html">Login</a></h1>
            <h1 class="header-login-logout"><a href="signup.html">Sign Up!</a></h1>
        </div>
    </div>
    <div class="forum">
        <div class="forum-content">
            {% for forum_post in posts %}
            <h1 class="forum-content-header">{{ forum_post.title }}</h1>
            <div class="forum-container">
                <div class="forum-container-box">
                    <div class="forum-container-box-image">
                        <img src="http://pluspng.com/img-png/jasmine-png-black-and-white-jasmine-flower-clip-art-black-and-white-1331.png" width="250px">
                        <h1>{{ forum_post.text }}</h1>
                    {% endfor %}    
                    </div>
                </div>
            </div>
        </div>
        <div class="forum-content">
            {% for forum_post in posts %}
            <h1 class="forum-content-header">{{ forum_post.title }}</h1>
            <div class="forum-container">
                <div class="forum-container-box">
                    <div class="forum-container-box-image">
                        <img src="http://pluspng.com/img-png/jasmine-png-black-and-white-jasmine-flower-clip-art-black-and-white-1331.png" width="250px">
                        <h1>{{ forum_post.text }}</h1>
                    {% endfor %}    
                    </div>
                </div>
            </div>
        </div>
        <div class="forum-content">
            {% for forum_post in posts %}
            <h1 class="forum-content-header">{{ forum_post.title }}</h1>
            <div class="forum-container">
                <div class="forum-container-box">
                    <div class="forum-container-box-image">
                        <img src="http://pluspng.com/img-png/jasmine-png-black-and-white-jasmine-flower-clip-art-black-and-white-1331.png" width="250px">
                        <h1>{{ forum_post.text }}</h1>
                    {% endfor %}    
                    </div>
                </div>
            </div>
        </div>
        <div class="forum-content">
            {% for forum_post in posts %}
            <h1 class="forum-content-header">{{ forum_post.title }}</h1>
            <div class="forum-container">
                <div class="forum-container-box">
                    <div class="forum-container-box-image">
                        <img src="http://pluspng.com/img-png/jasmine-png-black-and-white-jasmine-flower-clip-art-black-and-white-1331.png" width="250px">
                        <h1>{{ forum_post.text }}</h1>
                    {% endfor %}    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Donate</p>
    </div>
</body>
</html>