a
{
    text-decoration: none;
}

.drawing
{
    width: 100%;
    height: 50%;
}
.header
{
    margin: 25px;
}
.header-login
{
    display: flex;
    background-color: black; 
    color: white; 
    text-align: center
}
.header-login-login
{
    flex-grow: 1;
}
.header-login-logout
{
    margin-right: 25%;
}
.forum
{
    margin: 25px;
}
.forum-content
{
    background-color: white;
}
.forum-content-header
{
    background: black; 
    color: white;
}
.forum-container-box
{
    border: 1px solid black;
}
.forum-container-box-image
{
    display: flex;
}